@font-face {
  font-family: font_one;
  src: url(Font1.ttf);
}
@font-face {
  font-family: font_two;
  src: url(Font2.ttf);
}
@font-face {
  font-family: font_three;
  src: url(Font3.ttf);
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}
.homepage-bg{
  min-height:100vh;
  background-image: url('img/homepage-bg.png');
  background-size:cover;
  background-position: center;
}
header{
  font-family: font_three;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 1% 13%;
  transition: .5s;
  z-index: 1000;
}
.logo {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
/* nav */
header.black{
  transition: ease-in .4s;
  background-color: #ffffff;
}
.nav_links a{
  font-weight: 900;
  color: #000000;
  text-decoration: none;
}
.nav_links {
  list-style: none;
  display: flex;
  font-size: 14px;
}
.nav_links li {
  display: inline-block;
  padding: 0px 10px;
}
.nav_links li a {
  transition: color 0.3s ease 0s;
}
.nav_links li a:hover {
  text-decoration-line: underline;
}
.text_homepage{
  font-family: font_one;
  margin-top: 40px;
  margin-bottom: 30px;
  color: white;
  font-size: 90px;
 
}
.btn_homepage{
  font-family: font_two;
  background-color: rgb(65, 112, 232);
  color: #ffffff;
  padding: 14px 60px;
  border: #000000;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn_homepage:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
.Comps_homepage{
 
  padding-top: 18%;
  padding-left: 15%;
  text-align: left;
}
.homepage_content{
  font-family: font_one;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
}
.card_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content_titles{
  font-size: 50px;
}
.card {
  border-radius: 1%;
  width: 250px;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
}

.container_card {
  padding: 2px 0px;
}
.container_card a {
  color: black;
  text-decoration: none;
}

.card_text {
  padding: 10px 0px;
  font-size: 18px;
  font-weight: bold;
}

.card_text:hover {
  cursor: pointer;
  text-decoration-line: underline;
  transition: 0.3s;
}

.img_zoom {
  transition: 0.3s;
}

.img_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.247);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover .img_zoom{
  transform: scale(1.05);
  transition: 0.3s;
  opacity: 90%;
  cursor: pointer;
}
.card:hover .card_overlay {
  opacity: 1;
}

.card_overlay_button {
  margin-top: 50%;
  background-color: #fff;
  color: black;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  
}

.card_overlay_button:hover {
  transform: scale(1.10);
  transition: 0.3s;
  cursor: pointer;
}
.video_content{
 margin-top: 5%;
 width: 100%;
 height: 70vh;
 overflow: hidden;
 position: relative;

}
video{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
  
}
.video_title{
  font-family: font_one;
  font-size: 40px;
  font-weight: 700;
}
.video_parag{
  font-family: font_three;
  font-weight: 600;
  font-size: 15px;
}
.overlay_video {
  position: absolute;
  width: 80%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3); 
  text-align: left;
  left: 10%;
  padding-left: 5%;
  padding-top: 18%;
  font-size: 18px;
}.video_link{

 /* background-image: linear-gradient(white, white);
 background-size: 0 3px;
 background-position: 0 100%;
 background-repeat: no-repeat;
 transition: background-size 0.2s; */
 color: white;
 font-family: font_two;
}
/* .video_link:hover{
  cursor: pointer;
  background-size: 100% 3px;
} */
.discount{
  font-family: font_one;
  margin-top: 5%;
  background-color: rgb(65, 112, 232);
  color: white;
  width: 100%;
  text-align: left;
  display: inline-block;
  align-items: center;
  padding: 30px 13%;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn_discount{
  font-family: font_two;
  background-color: rgb(255, 255, 255);
  padding: 14px 60px;
  border: #000000;
  color: #000000;
  font-size: 20px;
  height: auto;
  width: auto;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn_discount:hover{
  background-color: rgb(65, 112, 232);
  color: white;
  cursor: pointer;
}
.shop_head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
  padding: 20px 0px; 
}
.btn_shop {
  background-color: rgb(65, 112, 232);
  color: #ffffff;
  font-family: font_two;
  padding: 14px 60px;
  font-size: 20px;
  border: #000000;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn_shop:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.shop_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px; 
}
.shop_image-container {
  position: relative;
  width: calc(50% - 5px); 
  height: 100%;
  overflow: hidden;
}
.shop_image-container img {
  width: 100%;
  height: 100%; 
  display: block;
  transition: transform 0.3s ease;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
.shop_image-container:hover .shop_image-zoom {
  transform: scale(1.05);
}
.shop_image-container:hover .overlay {
  background-color: rgba(0, 0, 0, 0.3); 
}
.overlay_text {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  border-radius: 5px;
  transition: bottom 0.3s ease, background-color 0.3s ease;
}
.shop_image-container:hover .overlay_text {
  bottom: 25px;
 
}
footer {
  background-color: #fff;
  color: #333;
  padding: 50px 0;
  display: flex;
  margin: 0px 9%;
  justify-content: space-between;
}

.footer_container,
.sec {
  width: 30%;
  padding: 0 5%;
  box-sizing: border-box;
}
.footer_title {
  font-family: font_one;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer_p {
  font-family: font_three;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
ul {
  font-family: font_three;
  font-weight: 600;
  list-style: none;
  padding: 0;
}
ul li {
  margin-bottom: 10px;
}
ul li a {
  color: #333;
  text-decoration: none;
}
ul li a:hover {
  text-decoration: underline;
}
.copyrightText{
  text-align: center;
  margin-bottom: 5%;
}
ul.sci li {
  display: inline-block;
  margin-right: 10px; 
}
ul.sci li a i {
  font-size: 30px; 
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 16px;
  padding-right: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


