@font-face {
    font-family: font_one;
    src: url(Font1.ttf);
  }
  @font-face {
    font-family: font_two;
    src: url(Font2.ttf);
  }
  @font-face {
    font-family: font_three;
    src: url(Font3.ttf);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font_two;

}

body, html {
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.image-container {
    flex: 1;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    background-color: #ffffff;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 100%;
    padding: 10px 0px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}
input{
    margin-bottom: 40px;
  }
p{
    margin-bottom: 20px;
}
